

.navigation {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

.highScoreLink{
  display: flex;
  border-style: solid;
}

.timer {
    border-style: solid;
    justify-content: flex-start;

}

.countdown {


}

.container {
    display: flex;
    justify-content: center;
}

.codingQuizBox {
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#startButton {


}

.question1 {


}

.question2 {


}

.question3 {


}

.question4 {


}

.question5 {


}

.initials {


}

#remainingTime {


}

#userinitials {

    
}

.hide {
    display: none;
}
 